$border-color: #d2d2d2;
$week-header-bg: #f8f3e7;
$header-height: 40px;
$header-bg: #192e39;
$canceled: rgba(172, 172, 172, 0.5);
$standard: rgba(137, 201, 233, 0.5);
$repeating: rgba(0, 128, 0, 0.5);
$unavailable: #dfdfdf;
$day-hover-bg: rgba(229, 235, 240, 0.25);
$calendar-nav-height: 1.4rem;
$border: 1px solid $border-color;
$week-number-color: #888888;
$today-bg: #e5ebf0;
