.day-grid {
    .hour {
        display: grid;
        grid-template-columns: 3rem auto;
        height: 2.5rem;
        .calendar-events-wrapper {
            padding-top: 0.6rem;
            .calendar-events {
                border-top: 1px solid #adadad;
                position: relative;
                display: flex;
                .event {
                    position: absolute;
                    background-color: rgba(192, 248, 255, 0.603);
                    overflow-x: hidden;
                    max-width: 100px;
                }
            }
        }
    }
}